* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: #0c0500;
    color: #F5EDE0;
}

 header {
    background: #2B1D14;
    color: white;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


header nav {
    display: flex;
    gap: 16px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.20rem;
}

.logo-titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-titulo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
/* HEADER------------------------------------------------------ */


/* banner---------------------------------------------------- */
.banner{
    display: flex;
    background-image: url('img/fondoBanner.png');
    background-size: cover;
    height: 550px;

    align-items: center;  
}

h1{
    font-size: 70px;
}

.text-banner{
    color: white;
    padding: 0 0 0 50px  ;
   
    
}

.aa{
    margin: 500px;
    background-color: black;
}
/* BANNER---------------------------------------------------- */

/* CATEGORIAS---------------------------------------------------- */
#section-categoria{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-guitarra{
    background-image: url(img/guitarra.png);
    background-size: cover;
}
.categoria-guitarraEle{
    background-image: url(img/guitarraElectrica.png);
    background-size: cover;
}
.categoria-bajo{
    background-image: url(img/bajo.png);
    background-size: cover;
}
.categoria-bateria{
    background-image: url(img/bateria.png);
    background-size: cover;
}
.categoria-piano{
    background-image: url(img/piano.png);
    background-size: cover;
}
.categoria-microfono{
    background-image: url(img/microfono.png);
    background-size: cover;
}
.categoria-estudioGrabacion{
    background-image: url(img/estudioGrabacion.png);
    background-size: cover;
}
.categoria-accesorios{
    background-image: url(img/accesorios.png);
    background-size: cover;
}
.categoria-amplificador{
    background-image: url(img/amplificador.png);
    background-size: cover;
}
.categoria-pedalesEfectos{
    background-image: url(img/pedalesEfecto.png);
    background-size: cover;
}

.categoria-guitarra ,
.categoria-guitarraEle,
.categoria-bajo,
.categoria-bateria,
.categoria-piano,
.categoria-microfono,
.categoria-estudioGrabacion,
.categoria-accesorios,
.categoria-amplificador,
.categoria-pedalesEfectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

p{
    margin: 5px;
}
/* CATEGORIAS---------------------------------------------------- */



footer {
    background: #2B1D14;
    color: white;
    text-align: center;
    padding: 14px;
    margin-top: 40px; 
} 


/*-----------------------------------------------------------------------------------*/

